* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;

    font-family: 'Starjedi';

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 20px;

    background-color: #0b1b36;
    background-image: url("img/background-3.webp");
    background-position: center; 
}

.title {
    font-size: 12px;
    margin: 0;
    padding: 15px;
    width: 320px;
    height: min-content;

    background: #182e59;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    -webkit-box-shadow: 5px 5px 18.5px 3px #0b1b36;
    -moz-box-shadow: 5px 5px 18.5px 3px #0b1b36;
    box-shadow: 5px 5px 18.5px 3px #0b1b36;

    border-radius: 5px;
}

h1 {
    color: #fff;
}

h2 {
    color: #f0b084;
    letter-spacing: 2px;
}

.counter-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: #182e59;
    height: 50px;
    width: 350px;
    padding-left: 45px;

    border-radius: 80% 20% 80% 20% / 0% 100% 0% 100%;
    border: #f0b084 2px solid;
}

#counter {
    color: #fff;
    width: 100%;
    text-align: left;
    display: inline-block;
}

